body {
  min-height: fit-content;
  min-width: 350px;
  max-width: 750px;
  width: auto;
  font-size: medium;
  background-color: rgb(25, 25, 25);
  padding-bottom: 70px;
}

#settings {
  margin-right: auto;
  margin-left: 90%;
}

footer {
  background-color: rgb(25, 25, 25);
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -5px;
  padding-bottom: 10px;
}

.error-div {
  color: red;
  padding-bottom: 3px;
  font-size: small;
}

#switch-button {
  display: inline-block;
}

#help-button {
  display: inline-block;
}

.list-container {
  color: azure;
}

.delete-button {
  background-color: transparent;
}

hr {
  border-color: #555;
}

.card {
  border-radius: 25px;
  background-color: rgb(35, 35, 35);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 60.2);
  transition: 0.3s;
  margin-bottom: 11px;
  margin-right: 10px;
  width: fit-content;
  padding: 2px 16px;
  color: azure;
}

textarea {
  background-color: rgb(70,70,72);
  color: rgb(178,178,179);
  resize: none;
  overflow: hidden;
  white-space: nowrap;
  height: 15px;
  width: 98%;
  margin-left: 1%;
  border-radius: 2px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(60, 60, 60, 0.2);
}

.input-column {
  float: left;
  width: 80%;
}

input {
  margin-left: 2px;
  box-sizing: border-box;
  width: 100%;
}

.button-column {
  float: right;
  width: 17%;
  margin-right: 0.5px;
  margin-top: 3px;
}

button {
  border-radius: 10px;
  color: azure;
  background-color: forestgreen;
  border-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 42px;
}

/* Clear floats after the columns */
.row:after {
  display: inline-block;
}

/* Font Awesome*/
.fa-copy {
  color: mediumturquoise;
}

.fa-play {
  color: blueviolet;
  margin-right: 5px;
}

.fa-trash-alt {
  color: crimson;
  margin-right: 5px;
}

.fa-question-circle {
  color: rgb(70, 70, 72);
}

.fa-plus {
  color: azure;
}
