body {
  background-color: rgb(25, 25, 25);
  border-color: rgb(25, 25, 25);
  color: azure;
  align-items: center;
  font-size: large;
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.content {
  flex: 0.9 0 auto;
}

.footer {
  flex-shrink: 0;
}

.row {
  align-items: center;
  display: inline;
}
